github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "SwiftyJSON/SwiftyJSON"
github "realm/realm-cocoa"
github "mac-cain13/R.swift.Library"
github "ReactiveX/RxSwift"
github "SVProgressHUD/SVProgressHUD"